
.body{
    margin-left: 438px;
    margin-right: 438px;
    padding-left: 438px;
    padding-right: 438px;
  

background-color: rgb(230, 243, 215);
}

.square{
background-color: black;
width: 404px;
height: 490px;
top: -8px;
left: 438px;

}
.square-logo{
    padding: 10px 10px;
    margin-left: 123px;
    margin-top: 10px;
}
.square-text{
    font-size: 29px;
   color: white;
letter-spacing: 5px;
   margin-left: 148px;
    margin-right: 200px;
   
   
}
.button{
    width: 302px;
height: 50px;
top: 261px;
left: 500px;
gap: 0px;
opacity: 0px;
margin: 8px 52px;
 padding: 10px 20px;
    cursor: pointer;
   background-color: transparent;
    border-radius: 4px;
    border-color: rgb(255, 255, 255);
    
   }
   .button-text{
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
   font-weight: bolder;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
 
